@model PagedList.IPagedList<HotelManagement.Models.RoomRentalSlip>
@using PagedList.Mvc;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<h2 class="h2">Invoice Infomation</h2>
	<div>
		<button class="btn btn-primary" data-toggle="modal" data-target="#searchRoom">Add Room</button>
	</div>
	<div>
		@{
			var totalCost = 0.0; 
		}
		<table class="table">
			<thead>
				<tr>
					<td>Room</td>
					<td>Rental Date</td>
					<td>Unit Cost</td>
					<td>Surcharge</td>
					<td>Line Total</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					var coefficient = 1.0;
					var rentalDate = (item.EndDate - item.StartDate).TotalDays.ToString();
					var surcharge = 0.0;
					var hasForeign = false;

					foreach (var i in item.Guests)
					{
						if (i.GuestCategory.Coefficient > 1.0)
						{
							hasForeign = true;
							coefficient = i.GuestCategory.Coefficient - 1.0;
						}
					}
					if (item.Guests.Count >= item.Room.RoomCategory.NumStartSurcharge)
					{
						var sur = item.Room.RoomCategory.SurchargeRate;
						if (hasForeign == true)
						{
							surcharge = (item.Room.RoomCategory.UnitPrice * sur) + (item.Room.RoomCategory.UnitPrice * coefficient);
						}
						else
						{
							surcharge = (item.Room.RoomCategory.UnitPrice * sur);
						}
					}
					else
					{
						if (hasForeign == false)
						{
							surcharge = 0;
						}
						else
						{
							surcharge = item.Room.RoomCategory.UnitPrice * coefficient;
						}
					}
					int ren;
					ren = Int32.Parse(rentalDate);
					var lineTotal = (item.Room.RoomCategory.UnitPrice + surcharge) * ren;
					totalCost += lineTotal;
					<tr>
						<td>@item.Room.RoomNumber</td>
						<td>@rentalDate</td>
						<td>@item.Room.RoomCategory.UnitPrice</td>
						<td>@surcharge</td>
						<td>@lineTotal</td>
						<td>
							<a href="#" data-toggle="modal" data-target="#cancelLine" data-id="@item.Id" class="cancel">Remove</a>
						</td>
					</tr>
				}
			</tbody>

		</table>
		<div style="float: right;">
			<h2	>Total Cost: @totalCost</h2>
			<p id="invoiceCost" hidden>@totalCost</p>
		</div>
	</div>
	<div style="border-top: 1px groove;">
		@Html.PagedListPager(Model, Page => Url.Action("CreateInvoice", new { Page }))
	</div>
	
	<div style="float: right">
		<button class="btn btn-primary" data-toggle="modal" data-target="#getInfo">Create Invoice</button>
	</div>
</div>
<!--Guest Info-->
<div class="modal fade" id="getInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="width: 52%; margin: auto;">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Guest Information</h4>
				<button class="close" id="closeInfo" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="notifyInfo" class="notify"></div>
				<form id="guestForm">
					<div class="form-group">
						<label>Identity Card</label>
						<input type="text" class="form-control form-control-user" id="addIC" placeholder="Enter Identity Card" required>
					</div>
					<div class="form-group">
						<label>Name</label>
						<input type="text" class="form-control form-control-user" id="addName" placeholder="Enter Name" required>
					</div>
					<div class="form-group">
						<label>Address</label>
						<input type="text" class="form-control form-control-user" id="addAddress" placeholder="Enter Address" required>
					</div>
					<div class="form-group">
						<label>Gender</label>
						<input id="maleRBtn" type="radio" name="gender" value="false"> Male
						<input id="femaleRBtn" type="radio" name="gender" value="true"> Female
					</div>
					<div class="form-group">
						<label for="selectGuestCategory" class="control-label">Guest Category</label>
						<select class="form-control" id="select-guest-category" name="selectGuestCategory">
						</select>
					</div>
					<div style="display: flex;">
						<div style="width: 14rem;">
							<a href="#" class="btn btn-block" style="color:white; background-color:cornflowerblue" id="commitInfo">Pay in Cash</a>
						</div>
						<div style="width: 14rem; margin-left: 2rem;">
							<a href="#" class="btn btn-block" style="color:white; background-color:#da28b1e8" id="btn-momo-payment">Pay in MoMo</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--Add new room rental slip by room number-->
<div class="modal fade" id="searchRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="width: 52%; margin: auto;">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Search for room</h4>
				<button class="close" id="closePass" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="notify" class="notify"></div>
				<div class="form-group">
					<label>Type room number</label>
					<div class="form-group row">
						<div class="col-sm-6 mb-3 mb-sm-0">
							<input type="text" class="form-control" id="roomNumber" name="roomNumber">
						</div>
						<div class="col-sm-6">
							<a href="#" class="btn btn-block " style="color:white; background-color:cornflowerblue; width: 75px;" id="check">Search</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Remove a line-->
<div class="modal fade" id="cancelLine" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Remove</h4>
				<button class="close" id="closePass" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				Are you sure you want to remove this line
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">No</button>
				<a class="btn btn-primary" href="#" id="confirmRemove">Yes</a>
			</div>
		</div>
	</div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>

@*<script src="~/Scripts/jquery.validate.js"></script>*@


@*<script>
	$(function () {
		$('#guestForm').validate({
			rules: {
				gender: {
					required: true
				}
			},
		});
	})
</script>*@

<script>
	$(document).ready(function () {

		ReloadGuestCategorySelector();
		$('#commitInfo').off('click').on('click', function (e) {
			e.preventDefault();
			var identityCard = $('#addIC').val();
			var name = $('#addName').val();
			var address = $('#addAddress').val();
			var guestCat = $('#select-guest-category').val();
			var invoiceCost = $('#invoiceCost').text();
			var cost = parseFloat(invoiceCost);
			var gender = $('input[name="gender"]:checked').val();
			if (identityCard == '' || name == '' || address == '' || gender == null) {
				alert("Please enter guest infomation to pay");
			}
			else {
				$.ajax({
					url: '/Manager/InvoiceOfGuest',
					type: 'POST',
					data: { icOfGuest: identityCard, nameOfGuest: name, addressOfGuest: address, genderOfGuest: gender, CatOfGuest: guestCat, totalCost: cost },
					success: function (msg) {
						if (msg == 'false') {
							alert('Error');
						}
						else {
							if (msg == 'noRoom') {
								alert('Please add room to pay');
							}
							else {
								setTimeout(function () {
									window.location.href = '' + msg + '';
								}, 10);
							}
						}
					}
				});
			}
			
		});

		$("#btn-momo-payment").on("click", function () {
            var identityCard = $('#addIC').val();
            var name = $('#addName').val();
            var address = $('#addAddress').val();
            var guestCat = $('#select-guest-category').val();
            var invoiceCost = $('#invoiceCost').text();
            var cost = parseFloat(invoiceCost);
            var gender = $('input[name="gender"]:checked').val();
            if (identityCard == '' || name == '' || address == '' || gender == null) {
                alert("Please enter guest infomation to pay");
            }
			else {
				window.location.href = '/MomoPayment/Payment?icOfGuest=' + identityCard + '&nameOfGuest=' + name + '&addressOfGuest=' + address + '&genderOfGuest=' + gender + '&CatOfGuest=' + guestCat + '&totalCost=' + cost;
            }
		})
		
		$('#check').click(function (e) {
			e.preventDefault();
			var roomNum = $('#roomNumber').val();
			$.ajax({
				url: '/Manager/CheckRoom',
				type: 'Get',
				data: { room: roomNum },
				success: function (msg) {
					if (msg == 'false') {
						alert('Room does not exist or has no tenants')
					}
					else {
						setTimeout(function () {
							window.location.href = '' + msg + '';
						}, 10);
					}
				}
			});
		});
		var id;
		$('.cancel').click(function (e) {
			e.preventDefault();
			id = $(this).data('id');
		});
		$('#confirmRemove').click(function (e) {
			e.preventDefault();
			$.ajax({
				url: '/Manager/RemoveLine',
				type: 'POST',
				data: { id: id },
				success: function (msg) {
					if (msg == 'false') {
						alert('Error');
					}
					else {
						setTimeout(function () {
							window.location.href = '' + msg + '';
						}, 10);
					}
				}
			});
		});

		function ReloadGuestCategorySelector() {
			$("#select-guest-category").find("option").remove();

            $.ajax({
                url: "/api/GuestCategories/GetAll",
                method: "get",
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {

                        var markup = "<option value=" + response[i].id + ">" + response[i].name + "</option>"

                        $("#select-guest-category").append(markup);
                    }
                },
            });
        }
	});
</script>