@model PagedList.IPagedList<HotelManagement.Models.RoomRentalSlip>
@using PagedList.Mvc;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
	<div style="margin: 30px -55px;">
		<h2 class="h2" style="margin-left: 54px;"> List of Room Rental Slips</h2>

		<ul class="list-category" style="margin-left: 56px;">
			<li class="category-li">
				<a class="category" href="@Url.Action("RoomRentalSlip", "Manager", new { isPaid = false })"><span>Room Rental Slip</span></a>
			</li>
			<li class="category-li">
				<a class="category" href="@Url.Action("RoomRentalSlip", "Manager", new { isPaid = true })"><span>Paid Room Rental Slip </span></a>
			</li>
		</ul>
	</div>
	<div class="">
		<table class="table">
			<thead>
				<tr>
					<td>Rental Slip Number</td>
					<td>Room</td>
					<td>Num of Guest</td>
					<td>Check-in Day</td>
					<td>Check-out Day</td>
					<td>
						<a class="btn btn-danger" href="#" data-toggle="modal" data-target="#details">Detail </a>
					</td>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.Room.RoomNumber</td>
						<td>@item.Guests.Count</td>
						<td>@Html.Raw(item.StartDate.ToString("d"))</td>
						<td>@Html.Raw(item.EndDate.ToString("d"))</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div style="border-top: 1px groove;">
		@Html.PagedListPager(Model, Page => Url.Action("RoomRentalSlip", new { Page }))
	</div>
	@{
		if (ViewBag.Data == 1)
		{
			<div style="float:right; margin: 2rem 0 2rem; padding-top:1rem;	">
				<button class="btn btn-primary" data-toggle="modal" data-target="#searchRoom">Create invoice </button>
			</div>
		}
	}
</div>

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="max-height: 48rem; overflow-y: auto;">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Room Rental Slip Details</h4>
				<button class="close" id="closeInfo" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="notifyInfo" class="notify">
					</ div >
					<div class="form-group">
						@foreach (var i in Model)
						{
							<div style="display: grid">
								<label>Room Number: @i.Room.RoomNumber &nbsp; Room Category: @i.Room.RoomCategory.Name </label>
							</div>

							<div class="form-group">
								<h2>Guest Infomation</h2>
								<table class="table">
									<thead>
										<tr>
											<td>Name</td>
											<td>Identity Card</td>
											<td>Address</td>
											<td>Guest Category</td>
										</tr>
									</thead>
									<tbody>
										@foreach (var j in i.Guests)
										{
											<tr>
												<td> @j.Name</td>
												<td> @j.CMND</td>
												<td> @j.Address</td>
												<td> @j.GuestCategory.Name</td>
											</tr>
										}
									</tbody>
								</table>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Modal popup for search room-->
<div class="modal fade" id="searchRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="width: 50%; margin: auto;">
			<div class="modal-header">
				<h4 class="modal-title" id="exampleModalLabel">Search for room</h4>
				<button class="close" id="closePass" type="button" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div id="notify" class="notify"></div>
				<div class="form-group">
					<label>Type room number</label>
					<div class="form-group row">
						<div class="col-sm-6 mb-3 mb-sm-0">
							<input type="text" class="form-control" id="roomNumber" name="roomNumber">
						</div>
						<div class="col-sm-6">
							<a href="#" class="btn btn-block " style="color:white; background-color:cornflowerblue; width: 75px;" id="search">Search</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>

<script>
	$(document).ready(function () {
		$('.category-li:nth-child(@ViewBag.Data)').addClass("targets");
		$('#search').click(function (e) {
			e.preventDefault();
			var roomNum = $('#roomNumber').val();
			$.ajax({
				url: 'CheckRoom',
				type: 'Get',
				data: { room: roomNum },
				success: function (msg) {
					if (msg == 'false') {
						alert('Room does not exist or has no tenants')
					}
					else {
						setTimeout(function () {
							window.location.href = '' + msg + '';
						}, 10);
					}
				}
			})
		})
	});
</script>